<!DOCTYPE html>
<html>
  <head>
      <title>CORGIS Drug Use Data Set Summary</title>
	  <link rel="stylesheet" type="text/css" href= "rstyle.css">
  </head>
    <h1>This is a summary of the findings and connections made by the SAMHSA's National Survey on 
    Drug Use and Health (NSDUH)</h1>
    <p id="p1"> Survey Sample Size and Age of Participating Individuals: <br> </p>
    <p>For this survey, a sample size of radomly chosen 70,000 people age 12 and over was used.(<a href="https://nsduhweb.rti.org/respweb/project_description.html">NSDUH data</a>)<br></p>
    <p id="p1"> Data Set Findings and Statistics: <br> </p>
    The results found many interesting statistics, and the data statistic that jumped out at me, <br>
    but unsuprisingly, was that the highest percentages of substance use, abuse, and dependence <br>
    were in the 18-25 age group. I believe this showcases the prominent drug and alchohol abuse problems facing America's youth. <br>
    According to the survey, "about two-thirds (66.6%) of people aged 12 or older reported in 2014 that they drank alcohol in the past 12 months, with 6.4% meeting criteria for an alcohol use disorder." (<a href="https://www.samhsa.gov/atod">SAMHSA's website</a>) <br>
    Along with these statistics, men were accountable for higher rates of drug dependence, Native Americans and Alaskan natives have the highest rates among the various race groups, <br>
    and, according to the SAMHSA, "More than 50% of people aged 12 or older in 2011-2012 who used pain relievers for non-medical reasons in the past year got them from a friend or relative."
