{% extends "layout.html" %}
{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
<!--page content-->
  <h2>Select State for Most Recent Recorded Total of Alcohol Abuse in Minors for that State.</h2>
  <form action="/p1">
    <select name="state">
      {{ soptions }}
    </select>
    <br><br>
    <input type="submit">
  </form>
  {% if abuseRate is defined %}
    <br>
    <h2>{{ abuseRate }}</h2>
    <p>This state's total of minors who abuse alcohol in accordance to the most recent year recorded (2014) is {{ abuseRate }}</p>
  {% endif %}
{% endblock %}
