{% extends "layout.html" %}
{% set active_page = "page2" %}

{% block title %}Page 2{% endblock %}

{% block content %}
<!--page content-->
  <h2>Drug Abuse Rates</h2>
  <p> The abuse of drugs is a major problem among modern-day teenagers; here are the most recent rates per state of abuse in the last month for 2014. </p>
  <form action="/p2">
    <select name="state">
      {{ soptions }}
    </select>
    <br><br>
    <input type="submit">
  </form>
  {% if abuseRate is defined %}
    <br>
    <h2>{{ abuseRate }}</h2>
    <p>This state's rate of minors who abuse drugs in accordance to the most recent year recorded (2014) is {{ abuseRate }}</p>
  {% endif %}
{% endblock %}
