{% extends "layout.html" %}
{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
<!--page content-->
    <h1>Totals per state of drug-abusive teenagers.</h1>
    <p> Drug abuse is a major problem among modern day teenagers, here are the totals for each year. </p>
    <form name="select" action="/p1">
      <select name="year">
        {{ options }}
      </select>
      <input type="submit"><!--value type = "Submit" -->
        {{ total }}
    </form>
<br>
<p> This year's total is {{ total }} for individuals aged 12-17 who abuse drugs from the year selected.</p>
  </body>

{% endblock %}
