{% extends "layout.html" %}
{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
<!--page content-->
    <h1>Totals per state of drug-abusive teenagers.</h1>
    <p> Drug abuse is a major problem among modern day teenagers, here are the totals for each state. </p>
    <form name="select" action="/app">
      <select name="pickstate">
        {{ option }}
      </select>
      <input type="submit" value="Submit">
    </form>
<p> This state's total for drug-abusing teens is {{ total }} </p>
  </body>

{% endblock %}
